* {
	font-size: 15px;
	font-family: monospace;
}

#workspaces,
#taskbar,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#network,
#memory,
#cpu,
#disk,
#tray {
	background: #1a1a1a;
}

#pulseaudio {
	color: #268bd2;
}
#network {
	color: #268b12;
}
#network.disconnected {
    background: #b58cc0;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#disk {
	color: #b58900;
}

#clock,
#network,
#pulseaudio,
#memory,
#cpu,
#disk {
	padding: 0 10px;
}
